<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flygowebservice1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flygowebservice1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FlyGoWebService1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FlyGoWebService1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FlygoEntityFrameworkContext1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoEntityFrameworkContext1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoEntityFrameworkContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoEntityFrameworkContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoEntityContext1" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoEntityContext1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoEntityContext2" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoEntityContext2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoEntityContext3" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoEntityContext3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoEntityContext" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoEntityContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoContext" Order="8" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;Persist Security Info=True;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlygoContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;persist security info=True;user id=Guldgruppen;password=Lort1234!;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlyGoEF" Order="9" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=flygodbserver.database.windows.net;Initial Catalog=FlyGoDB;User ID=Guldgruppen;Password=Lort1234!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FlyGoEF_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=flygodbserver.database.windows.net;initial catalog=FlyGoDB;user id=Guldgruppen;password=Lort1234!;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FlygoEntityFrameworkContext2" Order="10" Enabled="False">
          <Destination Path="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User ID=Guldgruppen@flygodbserver;Password=Lort1234!" Name="Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FlyGoWebService.Models.FlygoEntityFrameworkContext, FlyGoWebService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoContext-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlyGoEF-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityContext-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityContext1-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityContext2-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityContext3-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityFrameworkContext-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityFrameworkContext1-Web.config Connection String">
      <ParameterValue>data source=tcp:flygodbserver.database.windows.net,1433;initial catalog=FlyGoDB;user id=Guldgruppen@flygodbserver;password=Lort1234!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlygoEntityFrameworkContext2-Web.config Connection String">
      <ParameterValue>Data Source=tcp:flygodbserver.database.windows.net,1433;Initial Catalog=FlyGoDB;User Id=Guldgruppen@flygodbserver;Password=Lort1234!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>