<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="eb3ee236-9459-4bcb-94e1-53c2e5b4d140" Publisher="CN=Kasper" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="eb3ee236-9459-4bcb-94e1-53c2e5b4d140" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>FlygoApp</DisplayName>
    <PublisherDisplayName>Kasper</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FlygoApp.App">
      <uap:VisualElements DisplayName="Flygo" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Flygo er en kommunikationplatform mellem medarbejderne i SAS." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Flygo">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\FlygoSplash1240x600.png" BackgroundColor="#3c3c3c" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>